body{
    margin: 0;
    background-color: rgba(32, 178, 171, 0.083);
}
.main-container{
    border-radius: 10px;
    width: 40%;
    height: 20em;
    padding: .5em 1em;
    margin: 10em auto;
    background-color: white;
}

/* Question contents */
.quiz-container h2{
    text-align: center;
    font-size: 1.3rem;
}
.quiz-container{
    width: 100%;
}
.quiz-container input{
    margin: 15px 10px;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul input, label{
    cursor: pointer;
}


/* Submit button/next */
.submit-btn-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto
}
#btn{
    border: none;
    border-radius: 10px;
    padding: .6em 0em;
    width: 40%;
    background-color: lightseagreen;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(29, 165, 158);
}
#btn:active{
    background-color: rgb(22, 144, 138);
}
.removeSubmitBtn{
    display: none;
}


/* Refresh button */
.refresh-btn{
    border: none;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    padding: .5em 0;
    font-size: 1.1rem;
    color: wheat;
    background-color: rgb(7, 224, 224);
    cursor: pointer;
    display: none;
}
.refresh-btn:hover{
    background-color: rgb(4, 204, 204);
}
.refresh-btn:active{
    background-color: rgb(3, 182, 182);
}
.displayBtn{
    display: block;
}
